<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
<h3>Email Verification</h3>

<p>Hello {{name}}</p>

<p>You registered an account on express boilerplate, before being able to use your account you need to verify that this is your email address by clicking here: <a href="{{link}}">Verify Email</a></p>

<p>The link below will expire in 10mins</p>

<p>Kind Regards, express boilerplate</p>

</body>
</html>