<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
<h1>Forgot Password</h1>

<p>Trouble signing in?</p>

<p>Resetting your password is easy.</p>

</p>Just press the button below and follow the instructions. We’ll have you up and running in no time. The link below will expire in 10mins</p>
<a href="{{ link }}" style="display: inline-block"> Reset Password </a>

<p>If you did not make this request then please ignore this email.</p>


</body>
</html>